

/* Custom Spacing Classes */
.mt-lg { margin-top: var(--gutter-section-desktop); }
.mt-sm { margin-top: var(--gutter-section-mobile); }
.mb-lg { margin-bottom: var(--gutter-section-desktop); }
.mb-sm { margin-bottom: var(--gutter-section-mobile); }
.pt-lg { padding-top: var(--gutter-section-desktop); }
.pt-sm { padding-top: var(--gutter-section-mobile); }
.pb-lg { padding-bottom: var(--gutter-section-desktop); }
.pb-sm { padding-bottom: var(--gutter-section-mobile); }


/* Custom Classes for Color Variants */
/* Class for Color Scheme Type 1 */
.c1 {
    --color-primary--type1: #003366; /* Custom primary color for c1 */
    --color-secondary--type1: #003366; /* Darker secondary color for c1 */
    --color-accent--type1: #ffa500; /* Lighter accent color for c1 */
}

/* Class for Color Scheme Type 1 */
.c2 {
    --color-primary--type2: #003366; /* Custom primary color for c1 */
    --color-secondary--type2: #003366; /* Darker secondary color for c1 */
    --color-accent--type2: #ffa500; /* Lighter accent color for c1 */
}

/* Class for Color Scheme Type 1 */
.c3 {
    --color-primary--type3: #003366; /* Custom primary color for c1 */
    --color-secondary--type3: #003366; /* Darker secondary color for c1 */
    --color-accent--type3: #ffa500; /* Lighter accent color for c1 */
}

/*
    Example usage
    <div class="c1">Content with color scheme type 1</div>
*/


/* Custom Classes for Typography Variants */
/* Typography Type 1 */
.t1 {
    --typography--font-family: var(--typography--font-family--type1);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type1);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type1);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type1);
}

/* Typography Type 2 */
.t2 {
    --typography--font-family: var(--typography--font-family--type2);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type2);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type2);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type2);
}

/* Typography Type 3 */
.t3 {
    --typography--font-family: var(--typography--font-family--type3);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type3);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type3);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type3);
}

/* Typography Type 4 */
.t4 {
    --typography--font-family: var(--typography--font-family--type4);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type4);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type4);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type4);
}

/* Typography Type 5 */
.t5 {
    --typography--font-family: var(--typography--font-family--type5);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type5);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type5);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type5);
}

/* Typography Type 6 */
.t6 {
    --typography--font-family: var(--typography--font-family--type6);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type6);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type6);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type6);
}

/* Typography Type 7 */
.t7 {
    --typography--font-family: var(--typography--font-family--type7);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type7);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type7);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type7);
}

/* Typography Type 8 */
.t8 {
    --typography--font-family: var(--typography--font-family--type8);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type8);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type8);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type8);
}

/* Typography Type 9 */
.t9 {
    --typography--font-family: var(--typography--font-family--type9);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type9);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type9);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type9);
}

/* Typography Type 10 */
.t10 {
    --typography--font-family: var(--typography--font-family--type10);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type10);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type10);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type10);
}

/* Typography Type 11 */
.t11 {
    --typography--font-family: var(--typography--font-family--type11);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type11);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type11);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type11);
}

/* Typography Type 12 */
.t12 {
    --typography--font-family: var(--typography--font-family--type12);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type12);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type12);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type12);
}

/* Typography Type 13 */
.t13 {
    --typography--font-family: var(--typography--font-family--type13);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type13);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type13);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type13);
}

/*
    Example usage
    <div class="t1">Content with typography scheme type 1</div>
*/

/* Custom Classes for Spacing */
.sts { padding-top: var(--gutter-section-small); }
.sbs { padding-bottom: var(--gutter-section-small); }
.stm { padding-top: var(--gutter-section-medium); }
.sbm { padding-bottom: var(--gutter-section-medium); }
.stl { padding-top: var(--gutter-section-large); }
.sbl { padding-bottom: var(--gutter-section-large); }
.stxl { padding-top: var(--gutter-section-xlarge); }
.sbxl { padding-bottom: var(--gutter-section-xlarge); }
.ste-s { padding-top: var(--gutter-element-small); }
.sbe-s { padding-bottom: var(--gutter-element-small); }
.ste-m { padding-top: var(--gutter-element-medium); }
.sbe-m { padding-bottom: var(--gutter-element-medium); }
.ste-l { padding-top: var(--gutter-element-large); }
.sbe-l { padding-bottom: var(--gutter-element-large); }
.ste-xl { padding-top: var(--gutter-element-xlarge); }
.sbe-xl { padding-bottom: var(--gutter-element-xlarge); }


