/* Section Padding */
section {
    padding-top: var(--gutter-section-desktop);
    padding-bottom: var(--gutter-section-desktop);
}

@media (min-width: var(--media-small)) {
    section {
        padding-top: var(--gutter-section-small);
        padding-bottom: var(--gutter-section-small);
    }
}

@media (min-width: var(--media-medium)) {
    section {
        padding-top: var(--gutter-section-medium);
        padding-bottom: var(--gutter-section-medium);
    }
}

@media (min-width: var(--media-large)) {
    section {
        padding-top: var(--gutter-section-large);
        padding-bottom: var(--gutter-section-large);
    }
}

@media (min-width: var(--media-xlarge)) {
    section {
        padding-top: var(--gutter-section-xlarge);
        padding-bottom: var(--gutter-section-xlarge);
    }
}

/* Input/textarea Padding */
input, textarea {
    padding: 10px;
    margin-bottom: var(--gutter-element-desktop);
}

@media (min-width: var(--media-small)) {
    input, textarea {
        margin-bottom: var(--gutter-element-small);
    }
}

@media (min-width: var(--media-medium)) {
    input, textarea {
        margin-bottom: var(--gutter-element-medium);
    }
}

@media (min-width: var(--media-large)) {
    input, textarea {
        margin-bottom: var(--gutter-element-large);
    }
}

@media (min-width: var(--media-xlarge)) {
    input, textarea {
        margin-bottom: var(--gutter-element-xlarge);
    }
}

/* Paragraph and List spacing */
p {
    margin-bottom: var(--gutter-element-desktop);
}

ul, ol {
    margin-bottom: var(--gutter-element-desktop);
}

li {
    margin-bottom: 10px;
}
