

/* Custom Spacing Classes */
.mt-lg { margin-top: var(--gutter-section-desktop); }
.mt-sm { margin-top: var(--gutter-section-mobile); }
.mb-lg { margin-bottom: var(--gutter-section-desktop); }
.mb-sm { margin-bottom: var(--gutter-section-mobile); }
.pt-lg { padding-top: var(--gutter-section-desktop); }
.pt-sm { padding-top: var(--gutter-section-mobile); }
.pb-lg { padding-bottom: var(--gutter-section-desktop); }
.pb-sm { padding-bottom: var(--gutter-section-mobile); }


/* Custom Classes for Color Variants */
/* Class for Color Scheme Type 1 */
.c1 {
    --color-primary--type1: #003366; /* Custom primary color for c1 */
    --color-secondary--type1: #003366; /* Darker secondary color for c1 */
    --color-accent--type1: #ffa500; /* Lighter accent color for c1 */
}

/* Class for Color Scheme Type 1 */
.c2 {
    --color-primary--type2: #003366; /* Custom primary color for c1 */
    --color-secondary--type2: #003366; /* Darker secondary color for c1 */
    --color-accent--type2: #ffa500; /* Lighter accent color for c1 */
}

/* Class for Color Scheme Type 1 */
.c3 {
    --color-primary--type3: #003366; /* Custom primary color for c1 */
    --color-secondary--type3: #003366; /* Darker secondary color for c1 */
    --color-accent--type3: #ffa500; /* Lighter accent color for c1 */
}

/*
    Example usage
    <div class="c1">Content with color scheme type 1</div>
*/


/* Custom Classes for Typography Variants */
/* Typography Type 1 */
.t1 {
    --typography--font-family: var(--typography--font-family--type1);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type1);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type1);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type1);
}

/* Typography Type 2 */
.t2 {
    --typography--font-family: var(--typography--font-family--type2);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type2);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type2);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type2);
}

/* Typography Type 3 */
.t3 {
    --typography--font-family: var(--typography--font-family--type3);
    --typography--font-size--desktop: var(--typography--font-size--desktop--type3);
    --typography--font-size--tablet: var(--typography--font-size--tablet--type3);
    --typography--font-size--mobile: var(--typography--font-size--mobile--type3);
}

/*
    Example usage
    <div class="t1">Content with typography scheme type 1</div>
*/
